@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>生产报表查询</title>
    <link href="@Url.Content("~/Content/bootstrap.darkly.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/angular-xeditable/css/xeditable.css")" type="text/css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/angular.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-route.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular-xeditable/js/xeditable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controller/ProductApp.js")" type="text/javascript"></script>
</head>
<body>
    <h2>制二工单查询</h2>
    <div class="row">
       <div class="col-sm-3">
           <h3>好主意</h3>
       </div>
    </div>
</body>
</html>
