@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myTableApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ng-Table练习</title>
    <link href="@Url.Content("~/Content/bootstrap.darkly.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ng-table.css")" type="text/css" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/angular.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/angular-ui-router.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/angular-animate.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/ng-table.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controller/myTableApp.js")" type="text/javascript"></script>
</head>
<body ng-controller="tableBaseController">
    <div class="row">
        <ul class="nav nav-pills">
            <li>
                <a data-ui-sref="ngTableBase">ngTable基本练习</a>
            </li>
        </ul>
    </div>
    <h2>这是ngTable的基本练习</h2>

    <div class="row">
        <label>{{title}}</label>
        <div class="row">
            <table class="table table-striped">
                <tr ng-repeat="user in tbldata">
                    <td data-title="Name" data-sortable="'name'">{{user.name}}</td>
                    <td data-title="Age"  data-sortable="'age'">{{user.age}}</td>
                </tr>
            </table>
        </div>
    </div>
    @*<div class="row col-sm-offset-1" data-ui-view>

        </div>*@
</body>
</html>
